<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3 - Projet Todo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <!-- Intégrer les icons de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Nous allons pouvoir utiliser Vue à l'intérieur de cet élément qui a l'ID #app -->
    <div class="container" id="app">


        <ul class="list-group" id="todo-list">
            <li v-for="task in tasks" class="list-group-item" :class="{done: task.done}">
                {{ task.name }}


                <button @click="deleteTask(task)" class="btn btn-danger delete">
                    <i class="bi bi-trash"></i>
                </button>


                <button @click="task.done = !task.done" class="delete" :class="{'btn btn-danger': !task.done, 'btn btn-warning': task.done}">
                    <i 
                    :class="{'bi bi-check': !task.done, 'bi bi-arrow-clockwise': task.done}"></i>
                </button>
            </li>
        </ul>

        <br>

        <button type="button" @click="removeAll()" class="btn btn-danger">
            Tout supprimer
        </button>

        <br><br>

        <div class="alert alert-danger" v-if="errors.length">
            <p v-for="error in errors">{{ error }}</p>
        </div>

        <form>
            <div class="row">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Ajouter une tâche" v-model="newTask.name" ref="name">
                    <button @click="addTask()" class="btn btn-primary" type="button">Ajouter</button>
                </div>

            </div>
        </form>

    </div>
</body>

<script src="https://unpkg.com/vue@3"></script>
<script src="script.js"></script>

</html>